// Twitter
// https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started
meta name='twitter:card'        content="#{data.meta.twitter_card_type}"
meta name='twitter:title'       content="#{data.meta.site_name}"
meta name='twitter:description' content="#{data.meta.description}"
meta name='twitter:creator'     content="#{data.meta.twitter_creator}"
meta name='twitter:image:src'   content="#{data.meta.open_graph_image}"